body {
  background-color: #343a40;
  /* Dark background */
  color: #fbfbfb;
  /* Light text */
  display: flex;
  flex-direction: column;
}

.navbar-custom {
  background-color: #332d2d;
  /* Same as the footer */
}

.footer {
  background-color: #332d2d;
  color: #fbfbfb;
  padding: 20px 0;
  text-align: center;
  flex-shrink: 0;
}

.footer a {
  color: #fbfbfb;
  flex-shrink: 0;
}

.content {
  flex: 1 0 auto;
}

html,
body {
  height: 100%;
}

.active {
  background-color: #fbfbfb;
}

.text-active {
  background-color: #332d2d;
}